<section class="watches">

	<% @watches.each do |watch| %>

		<div class="watch">
			<%= link_to watch do %>
				<!-- IMAGE -->
				<%= link_to "#" do %>
					<div class="price">
						<!-- PRICE -->
						<span>
							<%= watch.price  %>
						</span>
					</div>
				<% end %>
			<% end %>

			<h2><%= watch[:name] %></h2>
		</div>

		

	<% end %>

</section>